* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.menu {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #989D9C;
    margin-right: 23px;
    cursor: pointer;
}

.button-menu {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    width: 130px;
    height: 41px;
    background-color: #665AE1;
    border-radius: 20.5px;
    border: none;
    cursor: pointer;

}

h1 {
    color: #515151;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    color: #848484;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 515px;
    margin-top: 23px;
    margin-bottom: 65px;
}

.button-main {
    width: 239px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 20.5px;
    background: #ADFF00;
    border: none;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 65px;
    margin-right: 86px;
    display: inline-block;
}

section{
    display: inline-block;
}

@media screen and (max-width: 900px) {

header{
    display: none;
}

p{
    display: none;
}

.img-logo{
    width: 354px;
    height: 317px;
    display: block;
    margin-top: 60px;
    margin-bottom: 15px;
}

h1{
    width: 263px;
    height: 52px;
    font-size: 50px;
    line-height: 60.95px;
}

h2{
    width: 232px;
    height: 37px;
    font-size: 30px;
    line-height: 36.57px;

}

section{
    display: block;
    text-align: center;
    margin-left: 100px;
}

.button-main{
    display: block;
    margin-top: 15px;
}

}